boto3==1.16.51
botocore==1.19.51
Django==2.2.17
django-filter==2.4.0
django-heroku==0.3.1
django-storages==1.11.1
gunicorn==20.0.4
jmespath==0.10.0
python-dateutil==2.8.1
pytz==2020.5
s3transfer==0.3.3
six==1.15.0
sqlparse==0.4.2
urllib3==1.26.2
whitenoise==5.2.0
Markdown==3.3.3
MarkupSafe==1.1.1
